<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="keywords" content="THEMELOCK.COM - Private Transport and Car Hire HTML Template" />
	<meta name="description" content="THEMELOCK.COM - Private Transport and Car Hire HTML Template">
	<meta name="author" content="themeenergy.com">

	<title>Reservacion</title>

	<link rel="stylesheet" href="css/theme-pink.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="images/favicon.ico" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="">
	<!-- Header -->
	<header class="header" role="banner">
		<div class="wrap">
			<!-- Logo -->
			<div class="logo">
				<a routerLink="" title="Transfers">
					<img src="images/transfers.jpg" alt="Transfers" />
				</a>
			</div>
			<!-- //Logo -->

			<!-- Main Nav -->
			<nav role="navigation" class="main-nav">
				<ul>
					<li class="active">
						<a routerLink="" title="Inicio">Inicio</a>
					</li>
					<li>
						<a routerLink="contacto" title="Contacto">Contacto</a>
					</li>
					<li>
						<a routerLink="cuenta" title="Mi Cuenta">Mi Cuenta</a>
					</li>
				</ul>
			</nav>
			<!-- //Main Nav -->
		</div>
	</header>
	<!-- //Header -->

	<!-- Main -->
    <main class="main" role="main">
            <!-- Search -->
            <div class="output color twoway">
              <div class="wrap">
                <div>
                  <p>{{vuelo.fecha}}
                    <small>a la</small> {{vuelo.hora}}</p>
                </div>
                <div>
                  <p>{{vuelo.salida}}
                    <small>a</small> {{vuelo.destino}}</p>
                </div>
              </div>
            </div>
            <!-- //Search -->
          
            <div class="wrap">
              <div class="row">
                <!--- Content -->
                <div class="full-width content">
                  <h2>Equipaje y extras</h2>
                  <p>Seleccione el número total de piezas de equipaje y extras para sus transferencias. Si llega con más equipaje que
                    el especificado en la reserva, no podemos garantizar su transporte. En caso de que podamos transportarlos, le cobraremos
                    una tarifa adicional.</p>
                </div>
                <!--- //Content -->
                <div class="three-fourth">
                  <form [formGroup]="detalle"> 
                    <table class="data">
                      <tr>
                        <th>Tipo de equipaje</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Total</th>
                      </tr>
                      <tr>
                        <td>Asientos
                          <i>Asientos total a reservar en el vuelo</i>
                        </td>
                        <td>{{vuelo.precio | currency:'':'symbol':'.0'}}</td>
                        <td>
                          <input type="number" formGroupName="asientos" >
          
                        </td>
                        <td> 
                          <button (click)="accionar()"></button>
                        </td>
                      </tr>
                      <tr>
                        <td>ASIENTO INFANTIL
                          <i>para bebés que pesen hasta 9 kg</i>
                        </td>
                        <td>{{'20000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ASIENTO DE BEBE
                          <i>para bebés que pesen de 9 a 18 kg</i>
                        </td>
                        <td>{{'10000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>ASIENTO PARA NIÑOS
                          <i>para niños con un peso de 15 a 36 kg</i>
                        </td>
                        <td>{{'50000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>EQUIPAJE DE MANO DE HASTA 5 KG
                          <i>y dimensiones máximas 40 x 22 x 55 cm</i>
                        </td>
                        <td>{{'5000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>PIEZAS DE EQUIPAJE DE HASTA 15 KG
                          <i>y dimensiones máximas 53 x 31 x 75 cm</i>
                        </td>
                        <td>{{'10000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>PIEZAS DE EQUIPAJE DE HASTA 30 KG
                          <i>y dimensiones máximas 60 x 35 x 85 cm</i>
                        </td>
                        <td>{{'15000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>BICICLETA, EQUIPOS DE SURF DE GOLF DE HASTA 10 KG
                          <i>y dimensiones máximas 152 x 75 x 25 cm</i>
                        </td>
                        <td>{{'20000'| currency:'':'symbol':'.0'}}</td>
                        <td>
                          <select>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                    </table>
          
                    <div class="actions">
                      <a routerLink="/buscar" class="btn medium back">Regresar</a>
                      <a href="paso2.html" class="btn medium color right">Continuar</a>
                    </div>
                  </form>
                </div>
          
                <!--- Sidebar -->
                <aside class="one-fourth sidebar right">
                  <!-- Widget -->
                  <div class="widget">
                    <h4>RESUMEN DE RESERVA</h4>
                    <div class="summary">
                      <div>
                        <dl>
                          <dt>Fecha</dt>
                          <dd>{{vuelo.fecha}} {{vuelo.hora}}</dd>
                          <dt>De</dt>
                          <dd>{{vuelo.salida}}</dd>
                          <dt>Hasta</dt>
                          <dd>{{vuelo.destino}}</dd>
                          <dt>Avión</dt>
                          <dd>{{vuelo.avion}}</dd>
                        </dl>
                      </div>
          
          
                      <dl class="total">
                        <dt>Total</dt>
                        <dd>{{vuelo.precio | currency:'':'symbol':'.0'}}</dd>
                      </dl>
                    </div>
                  </div>
                  <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
              </div>
            </div>
          </main>
	<!-- //Main -->

	<!-- Footer -->
	<footer class="footer black" role="contentinfo">
		<div class="wrap">
			<div class="row">
				<!-- Column -->
				<article class="one-half">
					<h6>Sobre nosotros</h6>
					<p>Somos una plataforma para conectar vuelos a diferentes destinos del pais y el mundo.</p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>¿Necesitas ayuda?</h6>
					<p>Contáctenos por teléfono o correo electrónico:</p>
					<p class="contact-data">
						<span class="ico phone"></span> +1 555 555 555</p>
					<p class="contact-data">
						<span class="ico email"></span>
						<a href="mailto:hola@ub.com">hola@ub.com</a>
					</p>
				</article>
				<!-- //Column -->

				<!-- Column -->
				<article class="one-fourth">
					<h6>Síguenos</h6>
					<ul class="social">
						<li class="facebook">
							<a href="#" title="facebook">facebook</a>
						</li>
						<li class="twitter">
							<a href="#" title="twitter">twitter</a>
						</li>
						<li class="gplus">
							<a href="#" title="gplus">google plus</a>
						</li>
						<li class="linkedin">
							<a href="#" title="linkedin">linkedin</a>
						</li>
						<li class="vimeo">
							<a href="#" title="vimeo">vimeo</a>
						</li>
						<li class="pinterest">
							<a href="#" title="pinterest">pinterest</a>
						</li>
					</ul>
				</article>
				<!-- //Column -->
			</div>

			<div class="copy">
				<p>Copyright 2018, UbSoft. Todos los derechos reservados. </p>

				<nav role="navigation" class="foot-nav">
					<ul>
						<li>
							<a href="#" title="For partners">Hecho con amor</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</footer>
	<!-- //Footer -->

	<!-- Preloader -->
	<div class="preloader">
		<div id="followingBallsG">
			<div id="followingBallsG_1" class="followingBallsG"></div>
			<div id="followingBallsG_2" class="followingBallsG"></div>
			<div id="followingBallsG_3" class="followingBallsG"></div>
			<div id="followingBallsG_4" class="followingBallsG"></div>
		</div>
	</div>
	<!-- //Preloader -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/jquery.datetimepicker.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/search.js"></script>
	<script src="js/scripts.js"></script>

</body>

</html>